language: ruby
rvm:
  - "2.0.0" 
env: TEST_DATABASE_URL=postgres://postgres@locahost/travispopup RAILS_ENV=test AWS_ACCESS_KEY_ID=fake AWS_SECRET_ACCESS_KEY=fake AWS_BUCKET=fake IA_ACCESS_KEY_ID=fake IA_SECRET_ACCESS_KEY=fake SECRET_TOKEN=fakefakefakefakefakefakefakefakefakefakefakefakefakefakefakefake STRIPE_SECRET_KEY=sk_test_pjQFSi9ApHpFJDKL4HJxpNs1 STRIPE_PUBLISHABLE_KEY=pk_test_0yoHlnoW9MPTutDZAlnO1jFn EMAIL_USERNAME=edison@popuparchive.org DEVISE_SECRET_KEY=fakefakerfakest
before_script:
  - bundle exec rake db:create db:migrate
bundler_args: --retry 5 --without development assets 
services:
  - elasticsearch
  - redis-server
notifications:
  email:
    - popuparchive-tech@prx.org
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libmagic-dev
  - travis_retry gem update --system
  - travis_retry gem install bundler --pre
  - gem --version
  - bundle --version
  - ln -s /usr/share/elasticsearch/bin/elasticsearch.in.sh ~/.elasticsearch.in.sh
