<!DOCTYPE HTML>
<html>
<head>
  <% if !@embed %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "jPlayer.css" %>
  <%= stylesheet_link_tag "tplayer" %>
  <title><%= @title %></title>
  <meta property="og:title" content="<%= @title %>" />
  <meta property="og:type" content="audio.other" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= @audio_file.item.image_url || url_for('assets/minimark.png') %>" />
  <meta property="og:audio" content="<%= @mp3 %>" />
  <% end %>
</head>
<body>
 <%= render "embed_player/tplayer_player" %>
 <%= render "embed_player/tplayer_transcript" %>
 <% if !@embed %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.jplayer" %>
  <%= javascript_include_tag "tplayer" %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#pua-tplayer-<%= @file_id %>").jPlayer({
        ready: function (ev) {
          var playerUsed = ev.jPlayer.html.used ? 'html' : 'flash';
          //console.log('player used:', playerUsed);
          $(this).jPlayer("setMedia", {
            title: "<%= @title %>",
            oga: "<%= @ogg %>",
            mp3: "<%= @mp3 %>",
          });
        },
        loadedmetadata: function() {
          var jplayer = this;
          jplayer.puaTplayer = new PUATPlayer({
            fileId: '<%= @file_id %>', 
            jplayer: jplayer,
            play: { start: parseInt(<%= @start %>), end: <%= @end %> }
          });
        },
        ended: function() {
          var player = this;
          //console.log('player ended', player);
        },
        cssSelectorAncestor: '#jp_container-<%= @file_id %>',
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true,
        swfPath: "<%= asset_path 'Jplayer.swf' %>",
        solution: "html, flash",
        supplied: "oga, mp3"
      });
    });
  </script>
 <% end %>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40277363-1', 'auto');
  ga('send', 'pageview');

 </script>
</body>
</html>
