<!DOCTYPE HTML>
<html>
<head>
  <% if !@embed %>
  <%= stylesheet_link_tag "jPlayer.css" %>
  <%= stylesheet_link_tag "tplayer" %>
  <title><%= @title %></title>
  <meta property="og:title" content="<%= @title %>" />
  <meta property="og:type" content="audio.other" /  >
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= @audio_file.item.image_url || url_for('assets/minimark.png') %>" />
  <meta property="og:audio" content="<%= @mp3 %>" />
  <% end %>
</head>
<body>
 <%= render "embed_player/tplayer_player" %>
 <%= render "embed_player/tplayer_transcript" %>
 <% if !@embed %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.jplayer" %>
  <%= javascript_include_tag "tplayer" %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#pua-tplayer-<%= @file_id %>").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3: "<%= @mp3 %>",
          });
        },
        loadedmetadata: function() {
          var jplayer = this;
          jplayer.puaTplayer = new PUATPlayer({
            fileId: '<%= @file_id %>', 
            jplayer: jplayer,
            play: { start: parseInt(<%= @start %>), end: <%= @end %> }
          });
        },
        ended: function() {
          var player = this;
          //console.log('player ended', player);
        },
        cssSelectorAncestor: '#jp_container-<%= @file_id %>',
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true,
        swfPath: "<%= asset_path 'Jplayer.swf' %>",
        solution: "html, flash",
        supplied: "mp3",
      });
    });
  </script>
 <% end %>
</body>
</html>
