#enterprise {
  .strong {
    font-family: soleil, sans-serif !important;
    padding-bottom: 5px;
    color: white;
  }
  .entlink {
    color: #ddd;
    font-weight: bold;
  }
  p, ul{
    font-family: "freight-text-pro", sans-serif !important;
  }
  #intro{
    p {
    padding: 15px 20px 15px 0px;
    font-size: 1.4em;
    line-height: 32px;
    }
    // float:left;
    // width: 357px;
    h2 {
      padding: 30px 15px 30px 0px;
      margin: 0;
      color: black;
    }
    img {
      margin: 0;
      padding: 0;
    }
    #slug{
      font-family: soleil, sans-serif !important;
      color: #2c677f;
      font-size: 30px;
      line-height: 39px;
    }
    .btn#ent{
      margin-left: 15px;
      margin-bottom: 25px;
      font-size: 20px;
      font-family: soleil, sans-serif !important;

    }
  }
  #services{
    // float:left;
    // width: 310px;
    background-color: #f25a4c;
    padding: 10px 45px 33px;
    ul {
      margin: 0;
      padding-top: 30px;
    }
    li {
      list-style: none;
      margin-bottom: 15px;
      padding: 5px 0;
      margin: 0;
      font-size: 16px;
      line-height: 22px;
    }
  }
  #rightsidebar{
    padding: 0;
    img {
      max-width: 100%;
      padding: 14px 13px;
    }
  .rsidebar {
    background-color: #3d3d3e;
    padding-top: 32px;
    padding-bottom: 32px;
    }

    p {
      color: white;
      padding: 10px 5px 0px 15px;
      font-family: "freight-text-pro", sans-serif !important;
      font-size: 18px;
      line-height: 28px;
    }
    .strong {
      font-family: soleil, sans-serif !important;
    }
  }
  #logos {
    padding-top: 20px;
    float: left;
    #slug-center {
      font-family: soleil, sans-serif !important;
      color: #2c677f;
      font-size: 30px;
      line-height: 39px;
      text-align: center;
    }
    i {
      padding-left: 5px;
    }
    ul {
      margin: 0;
    }
    li {
      display: inline;
      width: 120px;
      padding-right: 2px;
    }
  }
}