#home{
  #feature-image {
    overflow: hidden;
    text-align: center;
    margin: 0 -18em;
    background-image: url(/assets/home/ike_homepage.jpg);
    background-size: cover;
    padding: 3em 0;
  }
  
  h2 {
    color: #fff;
    font-size: 2em;
    padding: .5em 0 0; 
  }
  h3 {
    color: #c9b936;
    font-size: 1.5em;
    margin: 0;
  }
  p {
    font-family: 'freight-text-pro', serif;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-bottom: 1em;
  }
  
  p {
   color: #fff;
  }
  
  #how {
    
    h2 {
      color: #997067;
      text-align: center;
      height: auto;
    }
    img {
      width: 65%;
      height: auto;
    }
    table {
      width: 85%;
      margin: auto;
    }
    th.number{
      width: 10%;
    }
    th.icon{
      width: 25%;
    }
    th.text{
      width: 65%;
    }
    td:first-child, td:nth-child(2){
     text-align:center; 
    };
    #files {
      color: #999;
    }
  }
}

#user_stories {
  h2 {
    text-align: center;
    color: #5970b1;
    padding-top: 2%;
  }
  h3 {
    color: #362f2d;
    font-size: 1.3em;
    line-height: 1.5em;
  }
  p {
    color: #362f2d;
    font-size: 1.2em;
    line-height: 1.4em;
    display: inline-block !important;
    vertical-align: middle !important;
  }
  .story {
    padding: 4% 0;
  }
  .highlight {
    font-family: "freight-text-pro",sans-serif;
    font-weight: 900;
    color: #2c677f;
  }
  .quote {
    @extend .highlight;
    font-size: 1.6em;
  }
  .accent {
    font-size: 1.2em;
    color: #444;
    padding-bottom: 1%;
  }

}

.background-container {
	background-color: rgba(255,255,255,.5);
	padding: 15px 0;
}

.featured-collection {
  float: left;
  display: inline-block;
  width: 300px;
  text-align: center;
  margin: 10px 0px;

  h5 {
    color: black;
  }
}

.featured-collection:nth-child(2){
  margin: 10px 20px;
};	

.metadata {
  word-wrap: break-word;
}

.newimportdiv {
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, .7);
}

//end homepage