#pricing {
	.plan-well {
		border: 5px solid  #F2EFEF;
		min-height: 340px;
		padding:0;
		&:hover {
			border: 5px solid #7d7d82;
		}
	}
	.contact-button {
	 	background: #85D0F1;
	 	border-radius: 20px;
	 	width: 100%;
	 	overflow: hidden;
	 	margin-bottom: 3em;
	 	object {
	 		float: left;
	 		padding: 10px;
	 	}
	 	a, h4 {
	 		color: white;
	 	}
	 	h3 {
	 		margin-top: 3%;
	 	}
	}

	.contact-button:hover {
		background: #639ab2;
		overflow: hidden;
		cursor: pointer;
	}
	.transcript-well {
		max-height: 200px;
		overflow-y: scroll;
		border: 2px solid gray;
		border-radius: 21px;
	}
	.premul {
		padding-bottom: 3px;
	}

	@mixin word-pill {
	  border: 0;
	  margin-right: 5px;
	  color: white;
	  padding: 2px;
	  border-radius: 15px;
	  font-family: 'soleil', helvetica, sans-serif;
	  font-size: .8em;
	}

	p {
		line-height: 1.6em;
	}
	h2 {
		text-align: center;
	}
	h3{
		font-size: 1.4em;
		margin-bottom: 0;
		line-height: 18px;
		margin: 0;
		padding-top: .5em;
	}
	h4 {
		font-family: helvetica, sans-serif;
		font-weight: 400;
		color: #3d3d3e;
		font-size: 1.0em;
		margin-top: 0;
	}
	ul {
		list-style: none;
		text-align: left;

	}

	object, img {
		margin: 10px;
		max-height: 60px;
	}

	table {
		font-family: "freight-text-pro", serif;
		font-size: 1.2em;
		margin-top: 20px;
		background: #fff;
		border-radius: 20px;
		display: block;
		height: 250px;
		overflow-y: scroll;
	}

	tr:hover {
		background: #f2cfa5;
	}

	td {
		padding: 12px 20px 2px 15px;
		border-bottom: 1px solid #E0DCDC;
		width: 435px;
	}
	.current{
		border: 5px solid #8BF1DB;
		&::after { 
			content: "Current Plan";
			background: #8BF1DB;
			color: white;
			padding: 4px;
			border-radius: 7px;
		}
		&:hover:after {
			background: #7d7d82;
		}
	}

	.contact {
		font-family: 'soleil', helvetica, sans-serif;
		font-size: 1.4em;
		background-color: #85D0F1;
		color: #ffffff;
		text-decoration: none;
		display: inline-block;
		border-radius: .8em;
		border: none;
		padding: 10px;
		margin: 5px;
	}

	.player {
		background: none;
	}

	.disabled {
		color: #999;
		background: #edeff2;

		object{
			z-index: 1;
		}

		h4{
			color: #999;	
		}

	}

	.question{
		font-weight: bold;
		font-size: 1.2em
	}

	.speaker1 {
		@include word-pill;
		background: #5e5692;
	}

	.speaker2 {
		@include word-pill;
		background: #D78551;
	}
}
