.collapsed .file-transcript {
  max-height: 75px;
}

.btn-transcript {
  background: #F9A732;
  color: white;
}

.search-result .file-transcript {
	line-height: 16px;
	font-size: 11px;
	overflow: hidden;

	.file-transcript-text {
      height: 16px;
      -webkit-marquee: auto medium infinite scroll normal;
      text-overflow: ellipsis;
	}

	.current {
      background-color: transparent;
	}

    em {
      background-color: yellow;
      font-weight: bold;
    }
}

.file-transcript {
	padding: 0px;
	display: block;
	overflow: auto;
	clear: right;
	width: 100%;
  
	a {
		color: #444;
		text-decoration: none;
	}
  
	input {
		width: 100%;
	}

	.current {
		background-color: #FFFBCC;
	}

  .timestamp {
    width: 16px; 
    text-align:left; 
    padding: 2px 5px;
  }

  .keytime {
    color: #DADADA;  
  }

  .play {
    width: 8px; 
    text-align:left;
  }

  .speaker {
    font-weight: 800;
    padding: 0 5px;
  }

	.file-transcript-text {
		height: 22px;
		overflow: hidden;
		margin-left: 5px;
	}

	td[ng-show="showStart"] {
		font-weight: 300;
		font-style: italic;
	}

	table {
    tbody{
      td {
        padding: 2px;
        border: none;

        a i {
            color: black;
            opacity: .5;
            text-decoration: none;
        }
      }
    }

		input {
			border: none;
			font-family: 'soleil', helvetica, sans-serif;
			color: #444;
			height: 22px;
			margin-left: 5px;
			line-height: 20px;
		}
		input:focus {
			outline: none;
			border: none;
		}
	}
}

.file-transcript::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.file-transcript::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.key-commands {
  font-size: 13px;
  ul {
    margin: 0;
  }
  li {
    display: inline;
  }
}

.transcript-options {
  .search-group {
    display: inline-block;
    position: relative;
    margin-right: .2em;
    margin-top: 3px; 
  }

  .clear-filter {
    position: absolute;
    z-index: 10;
    right: 6px;
    top: 3px;
    color: #ddd;
    font-size: 20px;
    &:hover {
      text-decoration: none;
      color: #999;
    }
  }

  .search-query {
    width: 50px;
    border-radius: 22px;
    min-width: 75px;
    @include transition(all, 0.2s, ease);
    height: 27px;

    &:active, &:focus, &.extended {
      width: 200px;
    }
  }
}

.glow {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
