body {
  font-size: 90%;  /* default is 72% */
}

.col-cost, .cost {
  text-align: right;
}

#main_content .attributes_table th {
  width: 40%
}

#main_content .panel_contents .attributes_table th {
  width: auto;
}

