/* Pop Up Archive embedable transcripted player */
//@import 'jplayer.popup';
@import 'font-awesome';
@import '_player';

.player {
  padding: 0;
}

.pua-tplayer {
  //border: 1px solid #ddd;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.pua-tplayer td {
  //border: 1px solid #ccc;
  vertical-align: top;
}

.pua-tplayer td.img {
  border: 1px solid #eee;
}

.pua-tplayer td.img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}

.pua-tplayer td.img,
.pua-tplayer td.timings {
  width: 100px;
  vertical-align: middle;
}

.pua-tplayer .timings-transcript td {
  padding-bottom: 1em;
}

.pua-tplayer .timings-transcript .timings {
  vertical-align: top;
  text-align: right;
  color: #aaa;
}

.pua-tplayer .tplayer {
  width: 100%;
  padding-left: 8px;
}

.pua-tplayer-text {
  cursor: pointer;
  padding-left: 1em;
  font-size: 95%;
  line-height: 1.2;
}

.pua-tplayer-text.hover {
  background-color: #eee;
}

.pua-tplayer-text.selected {
  background-color: #FFFBCC;
}

.pua-tplayer-text .ts {
  display: none;
  //display: inline-block;
  // to debug, toggle comments above
  color: #aaa;
  margin-right: 1em;
  width: 3em;
  text-align: right;
}

$transcriptViewHeight: 200px;

.pua-tplayer.scrolling tbody {
  display: block;
  overflow: auto;
  height: $transcriptViewHeight;
  width: 100%;
}

.pua-tplayer.scrolling thead {
  height: $transcriptViewHeight;
}

.tplayer-bar {
  width: 100%;
  line-height: 1;
}

.jp-controls {
  //width: 20%;
}

.player div {
  display: inline-block;
  width: 100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
  background: #eee;
}

.jp-progress {
  background: #fff 0px -240px no-repeat;
  width: 60%;
  height: 60px;
  padding: 0 2px 2px 2px;
  margin-bottom: 4px;
  overflow:hidden;
  margin-right: 8px;
  position: relative;
}

.jp-progress .calculating {
  color: #ddd;
  position: absolute;
  top: 20px;
  left: 20px;
}

div.jp-video .jp-progress {
  border-top:1px solid #180a1f;
  border-bottom: 1px solid #554560;
  width:100%;
  background-image: none;
  padding: 0;
}

.jp-seek-bar {
  background: #eee 0px -260px repeat-x;
  width: 100%;
  height: 100%;
  overflow:hidden;
  cursor:pointer;
}

.jp-play-bar {
  background: pink 0px -280px repeat-x;
  width:0px;
  height: 100%;
  overflow:hidden;
}

/* scrubber is invisible, used for creating waveform */
.player .scrubber {
  display: none;
}
.player .scrubber canvas {
  width: 100%;
  height: 100%;
}

.player {
  width: 100%;
}
.player h2 {
  font-size: 32px;
  color: #444;
  margin: 0;
}

.player .player-button {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.pua-tplayer .tplayer-stats {
  vertical-align: middle;
  padding-left: 8px;
  white-space: nowrap;
}

.pua-tplayer .tplayer-stats div {
  width: auto;
}

.pua-tplayer .tplayer-stats .jp-time-holder {
  color: #aaa;
  font-size: 90%;
}

.pua-up-link span {
  background: url(/assets/storage/pop.png) no-repeat center;
  display: inline-block;
  height: 29px;
  width: 29px;
}

.player .hidden, .hidden {
  display: none;
}

.loading-overlay {
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;

  .pua-tplayer-text.selected {
    background: none;
  }

  &.ui-animate {
    opacity: 0;
  }
  .loading-indicator {
    position: absolute;
    top: 50%;
    left: 35%;
    margin-top: -15px;
    width: 100%;
    text-align:center;
    color: #fff;
    font-weight: 800; 
    font-size: 2em; 
  }
}

/* responsive overrides
   NOTE this section *MUST* come last in the file, so don't add anything here
   unless you want it to affect mobile devices.
   These particular break points are not tied to any specific device.
   Instead they are tied directly to our specific layout.
*/
@media only screen and (max-width: 850px) {
/*
  .player .player-button i {
    font-size: 18px;
    line-height: 18px;
    width: 18px;
    height: 18px;
  }
*/
}

@media only screen and (max-width: 600px) {
  .player .player-button.jp-rewind { 
    display: none;
  }
  .player .jp-controls {
    width: 10%;
  }
  .pua-tplayer-text {
    font-size: 85%;
  }
}
