@import "mixins";
@import "pop-up_bootstrap";
@import "my-collections";
@import "player";
@import "pricing";
@import "enterprise";
@import "home";
@import "about";
@import "bootstrap-datepicker";
@import "angular-ui";
@import "select2";
@import "select2-bootstrap";
@import "animate";
@import "transcripts";
@import "angular-socialshare.min";
@import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);

p {
  word-wrap: break-word;
}

.bold {
  font-weight: bold;
}

xmp { 
  white-space: pre-wrap;
  word-wrap: break-word;
}

p {
  font-family: helvetica, sans-serif;
}

.center {
  text-align: center;
}

.btn-group > .btn, .btn {
  font-size: 12px;
}

.logo {
  color: #F25A4C;
}

.scrubbing {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-drop-zone-overlay {
  text-align: center;
  padding-top: 200px;
}

.navbar-default {
  background-color: #f2efef;
}

.navbar {
  .nav {
    margin: 9px 0 0 0;

    &.pull-right li a {
      padding: 8px;
    }

    .activity {
      padding: 10px 5px;
    }

    ul.alert-showers, .alert-showers li.alert-shower {
      width: 300px;
      
      a {
        text-decoration:underline;
      };
      
      a.dismiss {
        text-decoration: none;
      };

      a:hover, li a:hover {
        color: #333 !important;
        background: none !important;
      }

      &.pending a:hover, .pending a:hover {
        color: #333 !important;
        background: none !important;
      }

      a span {
        text-transform: uppercase;
      }

      .message {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;

        .status {
          font-weight: 600;
        }
      }
    }
  }
  #user_name {
    max-width: 200px;
    overflow: hidden;
  }
}

/* authn nav overrides */
.nav.authn.pull-right li a.border {
  border: 1px solid #eee; /* prevent jump on click with invisible border */
  border-left: 1px dotted #bbb;
  padding: 9px;  /* 1px less than default to compensate for the border */
  display: inline-block;
}

.nav.authn.pull-right li a.border.first {
  border-left: none; /* yes, irony. */
}

.nav.authn.pull-right li a.border.split,
.nav.authn.pull-right li a.split,
.nav.authn.pull-right li a.border.split div {
  display: inline-block;
}

.nav.authn.pull-right li a.split.menu {
  padding-left: 0;
  margin-left: 0;
}

.nav.authn.pull-right li a.split.menu div {
  border-left: 1px solid #aaa;
  padding-left: 6px;
  margin-left: 0;
}

.nav.authn.pull-right li a.split.main {
  padding-right: 3px;
  margin-right: 0;
}

.nav.authn.pull-right li .dropdown-menu {
  right: auto;
}

.nav.authn.pull-right li .dropdown-menu::before, 
.nav.authn.pull-right li .dropdown-menu::after {
  border: none;
  content: none;
}

.nav.authn.pull-right li.open a.dropdown-toggle {
  background-color: #fff;
  border: 1px solid #aaa;
}

.nav.authn.pull-right li.open a.dropdown-toggle.menu div {
  padding-left: 5px;
  border-left: 1px solid #fff;
}

.nav.authn.pull-right li.open a.dropdown-toggle.menu {
  padding-right: 7px;
}

#alerts-container {
  padding: 4px;
}

#alerts-container a {
  padding: 0;
}

#alerts-container ul.dropdown-menu {
  padding-left:8px;
  width: 320px;
  overflow-y: scroll;
  max-height: 500px;
}

.number-circle {
  cursor: pointer;
  padding: 4px;
  padding-top: 6px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  -khtml-border-radius: 50%;
  background: #F25A4C;
  font-family: 'soleil', helvetica, sans-serif !important;
  text-shadow: none !important;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 16px;
}

.index {
  ul {
    list-style-type: none;
    margin-left:0;
  }

  a {
    font-size: 1.2em;
    color: #3d3d3e;
  }
}

table.horizontal-scrolling {
  max-width: none;

  tr td, tr th {
    white-space: nowrap;
  }
}

table.fit-in-window {

  td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.media.muted {
  opacity: 0.7;
}

form.form-big {
  position: relative;

  input, button.btn {
    font-size: 28px;
    height: 28px;
    line-height: 38px;
    border-radius: 28px;
    padding-left: 20px;
  }

  button.btn {
    height: 38px;
    padding-left: 10px;
    line-height: 28px;
  }

  .input-group .btn {
    border-radius: 0 28px 28px 0;
  }

  .input-group .search-query {
    border-radius: 28px 0 0 28px;
  }
}

.search-query {
  width: 100%;
}

.navbar-form .search-query {
  padding: 4px 14px;
  margin-bottom: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 18px;
}

td.import-fieldtext {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}

button.pua-pill {
  border: 0px;
  border-radius: 8px;
  background: #7C7B81;
  color: white;
  font-family: 'soleil', helvetica, sans-serif;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 800;
  display: block;
  float: left;
  clear: both;
}

.container-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.loading-overlay {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;

  &.ui-animate {
    opacity: 0;
  }
  .loading-indicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    text-align:center;
    color: #fff;
    font-weight: 800;
    font-size: 2em;
  }
}

.label {
  text-shadow: none !important;
}

//Search results partial
.search-result {
  width: 100%;

  .transcripts {
    margin-left: 95px;
    table {
      margin-bottom: 0;
    }
  }

  .entities {
    margin-left: 95px;
    height: 30px;
    margin-top: 10px;
    overflow: hidden;

    .tag {
      display: inline-block;
      padding: 5px 5px;
      border-radius: 20px;
      margin-right: 5px;
      background: #85D0F1;
      color: #030303;
      font-size: 14px;
    }
  }
}
.media .pull-left {
  float: left;
  overflow:hidden;
  width: 15%;
  min-width: 75px;
}

.media .pull-left img{
  width: 75px;
  height: 75px;
}

.search-result .media {
  float: left;
  width: 85%;
  word-wrap: break-word;
}

//img.media-object {
//  max-width: 90px;
//  max-height: 90px;
//  display: inline;
//}



.facets {
  .facet {
    h5 {
      color: #B59B6D;
      font-family: 'soleil', helvetica, sans-serif !important;
      font-weight: 800;
      font-size: 16px;
      display: block;
    }

    ul {
      li {
        padding: 5px 5px 0 5px;

        &:hover {
          background: #5970B1;
          border-radius: 8px;

          small {
            display: none;
          }

          .label-info {
            color: white;
          }
        }

        small {
          font-family: 'soleil', helvetica, sans-serif !important;
          color: #B59B6D;
          font-weight: bold;
          font-size: 12px;
        }

        .label-info {
          font-family: 'soleil', helvetica, sans-serif !important;
          font-size: 14px;
          background: none;
          border-radius: 0;
          color: #7C7B81;
        }
      }
    }
    i {
      padding-left: 5px;
    }
  }
}


.search-result {

  h3 {
    margin-left: 180px;
  }

  .media-heading a {
    color: #030303;
    font-family: 'soleil', helvetica, sans-serif !important;
    font-size: 18px;
    font-weight: 800;

    &:hover {
      color: #333;
    }
  }

  .media {
    margin-top: 4px !important;

    p, li {
      color: #7C7B81;
      background: none;
      font-family: "freight-text-pro", serif;
      font-weight: normal;
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
  }
}

h5.result-count {
  color: #B59B6D;
  font-family: 'soleil', helvetica, sans-serif !important;
  font-weight: 800;
  font-size: 16px;
  display: block;
  background: none;
  border-bottom: 4px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.sort-options {
  width: 50%;
  border-bottom: 4px solid white;
  float: left;
  text-align: right;
  select {
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 25px;
    line-height: 25px;
  }
}

.result-count-footer {
  color: #7C7B81;
  background: none;
  .text {
    font-family: "freight-text-pro", serif;
    font-weight: normal;
    font-size: 14px;
  }

}

.item-form {

  .full-row {
    float: right;
    padding-bottom: 8px;

    .field {
      padding-right: 8px;
    }
  }

}

.full {
  max-height: none;
}

.item-detail {
  h4 {
    color: #7C7B81;
  }

  .well {
    font-family: 'soleil', helvetica, sans-serif;
    box-shadow: none;
    background: white;
    border-radius: 14px;
    border: none;
    padding: 10px 20px;
    word-wrap: break-word;

    .btn-item {
      background: #85D0F1;
      color: #030303;
    }

    h1 {
      color: #B59B6D;
      font-weight: 800;
      font-size: 32px !important;
    }
  }

  section.audio-file {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
  }

  section.audio-file:last-of-type {
    padding-bottom: 12px;
    border-bottom: none;
  }

  section.notes {
    h5 {
      color: #7C7B81;
      font-family: 'soleil', helvetica, sans-serif !important;
    }

    padding: 0px;
    display: block;
  }

  section.transcription {
    h5 {
      color: #7C7B81;
      font-family: 'soleil', helvetica, sans-serif !important;
    }

    padding: 0px;
    display: block;
  }

  section.rights {
    h5 {
      color: #7C7B81;
      font-family: 'soleil', helvetica, sans-serif !important;
    }

    padding: 0px 15px;
    display: block;
  }

  section.entities {
    h5 {
      font-family: 'soleil', helvetica, sans-serif !important;
      color: #7C7B81;
      clear: both;
    }

    padding: 0px;
    display: block;
    
    .clear_all {
      font-size: 12px;
      background: #ddd !important;
      color: #333 !important;
      padding: 3px 5px;
      font-weight: 900;
      margin-top: 3px;
      display: inline-block;
    }
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      clear: both;

      li.entity {
        display: block;
        float: left;
        font-family: 'soleil', helvetica, sans-serif !important;
        margin: 4px;

        .btn {
          background: #85D0F1;
          border: 0;
          color: #030303;
          padding: 4px;
          border-radius: 0px;

          &:hover {
            background: #D9F3FF;
          }
        }

        .delete {
          border-radius: 13px 0 0 13px;
          padding: 4px;
        }

        .confirm {
          border-radius: 0 13px 13px 0;
          padding: 4px;
        }

        .tag {
          border-radius: 13px;
          padding: 4px 12px;
        }

        .confirmed {
          border-radius: 0 13px 13px 0;
          padding: 4px 12px 4px 4px;
        }

      }
    }
  }

  section.tags {
    h5 {
      font-family: 'soleil', helvetica, sans-serif !important;
      color: #7C7B81;
      clear: both;
    }

    padding: 0px 15px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      clear: both;

      li {
        display: block;
        float: left;
        font-family: 'soleil', helvetica, sans-serif !important;
        margin: 4px;

        .btn {
          background: #7C7B81;
          border: 0;
          border-radius: 13px;
          color: white;

          &:hover {
            background: #5970B1;
          }
        }
      }
    }
  }
}

ul.terms {
  li {
    position: relative;
    height: 25px;
    .label {
      position: absolute;
      cursor: pointer;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
        transition: max-width 0.3s ease-in-out;
        -o-transition: max-width 0.3s ease-in-out;
        -moz-transition: max-width 0.3s ease-in-out;
        -webkit-transition: max-width 0.3s ease-in-out;

      &:hover {
        max-width: 350px;
      };
    }
  }
  small {
    color: #999;
    font-size: 0.7em;
    z-index: 1000
  }
}

ul.search-pills {
  position: absolute;
  top: 5px;
  right: 65px;
  li {
    margin-left: 3px;
    height: 24px;
    line-height: 24px;
    font-size: 22px;
    span {
      display: inline-block;
      max-width: 200px;
      overflow: hidden;
      text-overflow:ellipsis;
      transition: max-width 0.3s ease-in-out;
      -o-transition: max-width 0.3s ease-in-out;
      -moz-transition: max-width 0.3s ease-in-out;
      -webkit-transition: max-width 0.3s ease-in-out;

      &:hover {
        max-width: 450px;
      };
    }
    i {
      cursor: pointer;
    }
  }
}

//Navbar

$navbarHeight: 75px;
$authNavbarHeight: 75px;

.navbar-shadow {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0px;
  &:after {
    display: block;
    margin: $navbarHeight - 10px auto 0;
    height: 10px;
    //width: $gridRowWidth + 10px;  // TODO var undefined??
    content: "";
    box-shadow: 0 0 15px black;
  }
}

.navbar-shadow-hider {
  position:absolute;
  top: $navbarHeight;
  z-index: 6;
  background: #f2efef;
  width: 100%;
  height: 15px;
}

.authn .navbar-shadow {
  &:after {
    margin: $authNavbarHeight - 10px auto 0;
  }
}

.authn .navbar-shadow-hider {
  top: $authNavbarHeight;
}

.over-monthly-limit .authn .navbar-shadow {
  &:after {
    margin: $navbarHeight - 10px auto 0;
  }
}

.over-monthly-limit .authn .navbar-shadow-hider {
  top: $navbarHeight;
}

#explorewell {
  width: 100%;
}

.pager {
  li.centered {
    display: inline-block;
    overflow: hidden;
    width: 700px;
    .form-inline {
      line-height: 20px;
      height: 40px;
      .input-group {
        width: 100%;
        button {
          box-shadow: none;
          border: 1px solid rgb(181,155,109);
        }

        button {
          background: rgb(181,155,109);
          color: #fff;
          text-shadow: none;
          -webkit-border-radius: 0 14px 14px 0;
          -moz-border-radius: 0 14px 14px 0;
          border-radius: 0 14px 14px 0;
          float: left;
        }
        input {
          width: 92%;
          height: 31px;
          -webkit-border-radius: 14px 0 0 14px;
          -moz-border-radius: 14px 0 0 14px;
          border-radius: 14px 0 0 14px;
        }
      }
      width: 100%;
    }
  }
  .label {
    background-color: #999;
    margin-left: 2px;
  }
}

form.with-tags {
  position: relative;
  ul.tags {
    position: absolute;
    top: 4px;
    z-index: 100;
    right: 65px;
  }
}

//footer

#colophon {
  margin-top: 20px;
	border-top: 4px solid white;
	padding-top: 20px;
}

.site-info {  
  p {
    padding: 0;
  }
  a{
    color: #7C7B81;
    text-decoration: none;
  }
  
  a:hover {
    color: #5970B1;
    outline: none;
  };
  
  ul{
    margin: 0;
    padding-top: 0;
    font-family: "freight-text-pro", serif !important;
    font-size: 16px !important;
    font-size: 1.6rem;
    color: #E0DCDC;
  }
  
  li{
    display: inline;
    padding: 0;
  } 
} 

.sponsors {
	height: 45px;
	opacity: .7;
	padding-right: 15px;
}	

.sponsors:hover { 
  opacity: 1; 
}
//end footer

/* contact modal */
.modal {
//  display: none;
}

// modal background with angular-strap
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.modal-body .form-horizontal .form-group {
  margin-left: 15px;
  margin-right: 15px;
}

// horizontal radio button groups
.radio-group {
  margin-top: 4px; 
}
.radio-label {
  width: auto;
  display: inline;
  margin-left: 8px; 
  margin-right: 16px;
}
.radio_button {
  vertical-align: middle;
  margin-top: -1px;
}

.collection-modal .modal-body {
  height: 500px;
}

//item

.item-modal, .embed-codes-modal, .collection-modal {
  width: 690px;
  margin-left: -330px;
  max-height: 80%;
  overflow-y: scroll;
}

.item-form {

  .control-label {
    width: 140px
  }
  .controls {
    margin-left: 160px;
  }

  select {
    width: 284px;
  }

  table.file-table {
    td {
      padding: 2px;
    }
    .file-icon {
      padding: 2px 0px; 
      width: 14px; 
    }
    .file-name {
      padding: 0px 2px 2px 2px;
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .file-size {
      white-space: nowrap;
      font-style: italic;
    }
    .file-remove {
      padding: 2px 0px;
      width: 14px; 
    }
  }
}

.thumb-and-title{
  h1 {max-width:80%; float:left;}
  img {max-width: 20%; float:left; margin-right:20px; margin-top:15px; margin-bottom:15px; border: 1px solid #eee;}
  // .donate {
  //   text-align: center;
  //   text-decoration: none;
  //   .donate-text {
  //     width: 100%;
  //     font-size: 12px;
  //   }
  //   .donate-image {
  //     max-width: 100%;
  //     margin: 0;
  //   }
  // }
}
.donatediv {
  margin: -20px auto 4px;
  border: beige solid 1px;
  border-radius: 2px;
  padding: 7px;
  text-align: center;
  width: 110px;
  .donatetext {
    margin: 0;
    color: #333;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }
  img {
    width: 106px;
    height: 35px;
    border-radius: 3px;
  }
}
 
.donatediv:hover{
  background-color: #f9f9ea;
}

.clear{
  clear: both;
}

.message-expanded {
  border-top: 1px solid #edeff2;
  text-align:center;
  //width: 660px;
  margin-left: -15px;
  margin-bottom: 8px;
}

.message-shadow {
  display: block;
  //width: 660px;
  margin-left: -15px;

  border-top: 1px solid #edeff2;
  border-top: 1px solid rgba(0,0,0,.3);

  -webkit-box-shadow: 0 -3px 2px rgba(0,0,0,.08);
  -moz-box-shadow: 0 -3px 2px rgba(0,0,0,.08);
  box-shadow: 0 -3px 2px rgba(0,0,0,.08);

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  text-align:center;
}

#welcome-div {
  padding: 10px 25px;
  margin-top: 25px;
  background-color: #f2efef;
  border-radius: 10px;
  
  h1, h2 {
    color: #f25a4c;
    padding: 5px 0;
    font-weight: 600;
  }
  h1 {
    font-size: 1.4em;
    line-height: 1.4em;
  }
  h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-left: 25px;
  }
  li {
    list-style: circle;
    line-height: 1.5em;
    color: #f25a4c;
    font-family: "freight-text-pro";
    font-size: 1.2em;
    margin-left: 50px;
  }
}

.dollar_per_month {
  font-family: "freight-text-pro"; 
  font-size: 1.25em;
  font-weight: lighter;
}
.category {
  margin-bottom: -12px;
}

*[ng-click], a[bs-dropdown] {
  cursor: pointer;
}

.play-overlay {
  position: absolute;
  width: 75px;
  height: 75px;
  margin-left: 23px;
  opacity: 0.75;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;

  &.fa {
    line-height: 75px;
    font-size: 50px;
  }

  &.fa-pause {
    margin-left: 16px;
  }
}

.play-overlay:hover {
  opacity: 0.99;
}

.well {
  position: relative;
}

.organization-member {
  list-style: none;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #000;
  background-color: #f2cfa5;
  border: 1px solid #f2cfa5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  .name {

  }

  .role {
    margin-left: 10px;
    color: #7c7b81;
  }
}

.stripe-cc {
  input {
    width: auto;
  }
}

.modal form {
  margin: 0;
  padding: 0;
}

.arrow-buttons { 
  list-style: none; 
  overflow: hidden; 
  font: 18px;
  margin: 0px;
}
.arrow-buttons li { 
  float: left; 
}
.arrow-buttons li a {
  color: white;
  text-decoration: none;
  padding: 10px 75px 10px 10px;
  background: #FFB959;
  position: relative; 
  display: block;
  float: left;
}

.arrow-buttons li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  right: 100%;
  margin-right: 1px;
  z-index: 1; 
} 

.arrow-buttons li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 30px solid #FFB959;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  right: 100%;
  z-index: 2;
} 

.arrow-buttons li:first-child a:after {
  content: none; 
  border: none;
}

.arrow-buttons li a:hover { background: #5970B1; }
.arrow-buttons li a:hover:after { border-right-color: #5970B1; }


.arrow-buttons li a.crafted       { background:         #8581A1; }
.arrow-buttons li a.crafted:after { border-right-color: #8581A1; }

.arrow-buttons li a.crafted:hover       { background: #8581A1; }
.arrow-buttons li a.crafted:hover:after { border-right-color: #8581A1; }


.arrow-buttons li a.amara       { background:         #5970B1; }
.arrow-buttons li a.amara:after { border-right-color: #5970B1; }

.arrow-buttons li a.amara:hover       { background: #FFB959; }
.arrow-buttons li a.amara:hover:after { border-right-color: #FFB959; }


.arrow-buttons li:last-child a {
  background: white !important;
  color: white;
  pointer-events: none;
  cursor: default;
}
.arrow-buttons li:last-child a:after { border-right: 30px solid white; }

.arrow-buttons img {
  position: absolute;
  margin-left: 6px;
  top: 20%;
  height: 30px;
}

.order-transcript-modal {
  width: 660px;
  margin-left: -330px;
}

//Team Page


.team-section{
  h1, h2, h3, p, a, ul {
    font-family: "freight-text-pro", serif !important;
    font-weight: 400;
  }
  h1{
    color: #444;
    font-size: 36px;
    line-height: 44px;
  }
  p {
    margin-bottom: 35px;
    color: #7C7B81;
    font-size: 16px;
    line-height: 24px;
  }
  border-bottom: 4px solid white;
  margin-bottom: 2em;
  .team_bio {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    
    img {
      width: 18%;
      border-radius: 50%;
      position: absolute;
      top: 25px;
    }
    h2, h2 a {
      font-size: 24px;
      color: #F25A4C;
      line-height: 26px;
      font-weight: 400;
      text-decoration: none;
    }
    p, h2, h3 {
      padding-left: 22%;
    }
    h3 {
      font-size: 16px;
      padding-bottom: 10px;
      font-style: italic;
      color: #444;
      line-height: 0px;
    }
  }
  .no_round img {
  border-radius: 0;
  }
}

.storage {
  display: block;
  height: 29px;
  width: 29px;
  padding-top: 2em;
}

.lower-right {
  position: absolute;
  bottom: 4px;
  right: 4px;  
}

.well {
  .lower-right {
    position: absolute;
    bottom: 10px;
    right: 20px;  
  }
}

.storage-option {
  position:absolute;
  top:-5px;
  right:-10px;
}

.storage-aws { background: image-url('storage/pop.png') no-repeat center; }
.storage-internetarchive { background: image-url('storage/ia.png') no-repeat center; }
.storage-soundcloud { background: image-url('storage/sc.png') no-repeat center; }
.storage-prx { background: image-url('storage/prx.png') no-repeat center; }


.featurebtn {
  font-family: 'soleil', helvetica, sans-serif;
  font-size: 1.4em;
  background-color: #85D0F1;
  opacity: .9;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border-radius: 1em;
  border: none;
  padding: 1em;
  margin-bottom: 1em;
}

.featurebtn2 {
  @extend .featurebtn;
  background-color: #f25a4c;
  margin-left: 2em;
}

.featurebtn:hover, .featurebtn2:hover {
  text-decoration: none;
}

#mce-EMAIL {
  width: 60%;
  margin: 1em; 
}

#mc_embed_signup_scroll {
  background-color: #f2efef;
  .highlight {
    margin-top: 1em;
  }
  border-radius: 1em;
  margin: 2em;
}

#mc-embedded-subscribe {
  border-style: none;
  border-radius: 1em;
  font-family: 'soleil', helvetica, sans-serif;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  background: #2c677f;
}

#mc-embedded-subscribe:hover {
  background: #997067;
}

//explore

.browse {
  text-align: center;
  li {
    display: inline;
    margin: 5px;
  }
}

.expimg {
  border-radius: 2px;
}
.expimg-main {
  width: 200px;
}

.explore-main {
  padding-top: 20px;
  margin-right: 75px;
  font-size: 17px;
}

.main-featured {
  background-color: #FFFFF2;
  border-radius: 20px;
  h2 {
    margin-bottom: 0px;
  }
  margin-top: 2em;
}

.explorep {
  text-align: left;
  }

.top-terms {
  height: 370px;
}

.browse_results{
  h4{
    color: #85d0f1;
  }
  ul {
    margin: 0px;
  }
  li {
    list-style-type: none;
    font-family: "freight-text-pro", serif;
  }
  a {
    color: #000;
    font-family: 'soleil', helvetica, sans-serif;
    font-weight: 600;
  }
  #letters {
    padding: 10px;
    text-align: center;
    a {
      font-size: 16px;
      font-weight: bold;
    }
    a:active {
      text-decoration: underline;
    };
    li {
      display: inline;
      margin: 5px;
      text-decoration: none;
    }
  }
}

#banner {
  margin: 10px 0 10px 20px;
  p {
    float: left;
    padding: 20px;
    background: #c9b936;
    font-size: 18px;
    line-height: 24px;
  }
  a{
    color: #5970b1;
    text-decoration: none;
  }
}

#banner:after{
  content: ' ';
  float: left; 
	border-top: 32px solid transparent;
	border-bottom: 32px solid transparent;
	border-left: 30px solid #c9b936;
}

//plans
#plan-header {
  text-align: center;
  color: #7C7B81;
  font-size: 24px;
  a {
    color: #c9b936;
  }
}
.subtitle{
  text-align: center;
  color: #000;
  font-size: 16px;
}


.credit-card, .plan-pricing {
  font-size: 2.0em;
  line-height: 2.2em;
  small {
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 5px;
    span {
      float: left;
      margin-top: 1px;
      font-size: 0.8em;
    }
  }
}

.plan-pricing small {
  margin-left: 10px;
}

.credit-card {
  margin-top: -10px;
  text-align: right;
  small {
    font-size: 13px;
    position: relative;
    display: block;
    top: -15px;
  }
}


.loading-shield {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 70px;
  top: 55px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 4.0em;
  text-align:center;
  vertical-align: center;
  z-index: 100;
  padding-top: 100px;
  display: block;
}

.foot.fixed {
  position: absolute;
  left: 50%;
  margin-left: -470px;
  bottom: 5px;
  width: 940px;
}

.dl-horizontal {
  dd {
    margin-left: 120px;
    margin-bottom: 10px;
  }
  dt {
    width: 110px;
    margin-bottom: 10px;
  }
}

dt.subtotal {
  font-weight: normal;
}

dd.usage-meter {
  position: relative;
  background: #FFF;
  border-radius: 10px;
  padding-left: 10px;
  overflow: hidden;

  &.warning .bar {
    background: rgb(241, 219, 139);
  }

  &.full .bar {
    background: rgb(255, 131, 131);
  }

  .bar {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    background: rgb(139, 241, 219);
    border-radius: 10px;
  }
  .meter-words {
    position: relative;
    z-index: 10;
    font-family: 'soleil', helvetica, sans-serif !important;
  }
}

dd.usage {
  padding-left: 10px;
}

.plan-well {
  font-family: 'soleil', helvetica, sans-serif;
  background: #FFF;
  border-radius: 20px;
  text-align: center;
  padding: 0;
  padding-top: 10px;
  border: 5px solid #FFF;
  margin-bottom: 20px;
  h2 {
    margin-top: 0px;
    color: #FFF;
    padding: 10px;
  }
  h4 {
    color: #F9A732;
  }
  h5 {
    text-align: center;
  }
  
  table {
    width: 100%;
  }
  
  col ~ col {
    width: 130px;
  }
  
  tr {
    border-bottom: #FFF solid 3px;
  }
  
  p {
    margin-bottom: 0px;
  }
  
  .save .btn {
  margin-left: 3px;
  }
  
  .strong {
    font-weight: 600;
    font-size: 16px;
  }

  #rowhead {
    padding: 20px;
  }
  
  thead th{
    background-color: #7c7b81;
  }
  
  thead th:first-child {
   background-color: #FFF; 
  }
  
  tbody td:first-child { 
    background-color: #FFF;
    text-align: right;
    padding: 20px;
    font-weight: 600; 
    }
  
  tbody td {
    background-color: #ebebeb;
  }

  .current {
    background-color: #8BF1DB;
  }
}

ul.great-list {
  li {
    display: inline-block;
    text-align: left;
    &:before {
      content: ' ◦ '
    }
  }
}

ul.pricing {
  margin: 0 0 10px 8px;
}

.ui-match { background: #8ED3F2; }

.download-btn {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 4px;
  type: button; 
}

.ts-info-row {
  margin-bottom: 10px;
}

.transcript-label {
  padding: 4px; 
  display: inline;
}

.ts-type {
  color: #F25A4C;
}

.ts-upgrade {
  //  Let's change the color when we get the link working so it doesn't look offensive
  color: #2ca5da;
  font-size: 12px;
  font-weight: bold;
}

.promotebtn {
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
}

.alert-info p {
  margin-bottom: 0;
}
.speakers-form {
  .select2-container{
    padding: 5px;
  }
  display: inline;
}

.alert-info p {
  margin-bottom: 0;
}

.charge {
  color: #F25A4C;
}

.facebookShare {
  button {
    vertical-align: inherit;
  }
  .facebookCount {
    display: none;
  }
}
.tweetButton {
  vertical-align: 2px; 
  margin-left: 4px; 
}

input[readonly].copy-widget {
  cursor:pointer;
}

table.usage {
  background-color: #fff;
  table-layout: fixed;
  width: 100%;
}

.usage-month-group {
  border: 1px solid #ddd;
  padding: 1em;
}

.usage-month-group .last {
  text-align: right;
  float: right;
}

.usage-month-details .first {
  padding-left: 2em;
}

.usage .cost,
.usage .time {
  text-align: right;
}

.usage .first {
  min-width: 100px;
  max-width: 170px;
}
.usage .second {
  width: 300px;
}

.usage tr {
  border-bottom: 1px solid #eee;
}

.usage td, .usage th {
  border: none;
}

/* responsive overrides
   NOTE this section *MUST* come last in the file, so don't add anything here
   unless you want it to affect mobile devices.
   These particular break points are not tied to any specific device.
   Instead they are tied directly to our specific layout.
*/
/* 940px is currently the .container fixed width */
@media only screen and (max-width: 940px) {
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .container,
  .col-md-12,
  .col-md-10,
  .col-md-9 {
    width: auto;
  }
}

/* nav breaks-per-item */
@media screen and (max-width: 900px) {
  .navbar-collapse .pull-right li a #my_dashboard .nav-label {
    display: none;
  }
  body, body.authn, .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media screen and (max-width: 860px) {
  .navbar-collapse .pull-right li a #my_collections .nav-label {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .navbar-collapse .pull-right li a #user_name .nav-label {
    display: none;
  }
  .navbar-collapse .pull-right li a .nav-label {
    display:none;
  }
}
@media screen and (max-width: 600px) {
  .navbar-collapse .nav.pull-right {
    /* stop pulling right */
    float: left;
  }
  .site-title.authn .logo.archive {
    clear: none;
  }
  /* un-fix header */
  .navbar-shadow {
    display: none;
    position: relative;
    &:after {
      margin: auto;
    }
  }
  .authn .navbar-shadow-hider,
  .navbar-shadow-hider {
    top: auto;
    display: none;
  }
  .navbar-fixed-top {
    position: relative;
  }
  body, body.authn {
    padding-top: 0;
  }
  .featurebtn2 {
    margin-left: 0;
  }
}

